/* günaydın? */

#btnSiyah, #btnLacivert, #btnTest1, #supeli {
  padding: 8px 12px;
  width: 120px;
}


button {
  background-color: transparent !important;
  color: #a7a7a8 !important;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  webkit-appearance: none;
}
h2,h4 {
  color: #a7a7a8;
}
div {
  color: #a7a7a8;
}
captcha {
  color: ;
}
input {
  background-color: transparent;
  color: #a7a7a8;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-color: black;
}
a {
  display: block;
  margin-top: 10px;
  color: #FF4444;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}
admin {
  background-color: transparent;
  color: #a7a7a8;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
  appearance: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;          /* Pesindeyim🌚 */
}
button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}
@keyframes clickEffect {
  0%   { background-color: #d9d9d9; }
  100% { background-color: white; }
}
button:focus {
  animation: clickEffect 1s;
  outline: none;
}
this.textContent {
  color: #a7a7a8
}

/* Ayarlar ksıımı tasarımı */
#settings {
  background-color: #0078d7;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

#settings:hover {
  background-color: transparent;
}

#settingsPanel {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

#settingsPanel h3 {
  margin-top: 0;
  color: whitesmoke;
  font-size: 18px;
}

#settingsPanel p {
  color: white;
  background-color: transparent;
  font-size: 14px;
}
