
body {
  background-color: transparent;
}

button {
  background-color: transparent !important; /* Arka plan şeffaf */
  color: gray !important;                  /* Yazı beyaz */
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  /* Varsayılan tarayıcı stilini kaldır */
  appearance: none;
  -webkit-appearance: none;
}

h2,h4 {
  color: gray;
}

div {
  color: white;
}

captcha {
  color:red
}

input {
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-color: black;
}

a {
  display: block;
  margin-top: 10px;
  color: #FF4444;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

admin {
  background-color: transparent;
  color: gray;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

  appearance: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;          /* Varsayılan gölgeyi kaldır */
}

button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

@keyframes clickEffect {
  0%   { background-color: #d9d9d9; }
  100% { background-color: white; }
}

button:focus {
  animation: clickEffect 1s;
  outline: none;
}